.sideBarContainer {
    width: 300px;
    background-color: #33393f;
    padding-left: 15px;
    margin-right: 10px;
    margin-top: 20px;
    min-height: 75vh;
    max-height: 75vh;
    border-radius: 10px;
}

.sideBarContainer h2 {
    color: #e5eff5;
}

.sideBarContainer p {
    color: #dee7ec;
}

.sideBarContainer input {
    height: 40%;
    border-radius: 5px;
    margin: 4px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
    border-bottom: solid 2px rgba(168,162,158, 0.65);
}

.sideBarContainer button{
    margin-top: 5%;
    border-radius: 5px;
    min-height: 30px;
    width: 50%;
    cursor: pointer;
}

.sideBarContainer .graphs input{}

.accountNavigation, .sideBarNavigation {
    display: flex;
}

.accountNavigation .LOGIN_SIDE_BAR-loginTab {
    background-color:  rgba(88,153,226, 1);
}

.accountNavigation .REGISTER_SIDE_BAR-registerTab {
    background-color: rgba(88,153,226, 1);
}

.accountNavigation {
    cursor: pointer;
}

.accountNavigation div,
.sideBarNavigation div {
    margin-right: 15px;
    transform: scale(115%);
    background:rgba(33, 37, 41, 0.65);
    padding: 2px 7px;
    border-radius: 5px;
}
