.background {
    height: 80.5vh;
    width: calc(94vw - 310px);
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 1);
    border-radius: 10px;
}
.react-p5-wrapper canvas {
    position: absolute;
    left: 100px;
    top: 100px;
    display: block;
    /*box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 1); /*! only for developement purposes*/
}

.react-p5-wrapper .add-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}



svg {
    position: relative;
    top: 80px;
    left: 80px;
    /*border: 5px solid black;*/
}