body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Calibri', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #121212;
}

button {
  background: rgb(78, 140, 211);
  font-style: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.AppContainer {
  width: 15vw;
  margin-left: 2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

input {
  color: white;
}
